.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #393E46;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  }
  .img1
  {
    animation:move1 2s linear forwards;
  }
  @keyframes move1 {
    from{
      transform: translateX(0);
    }
    to {
      transform: translatex(100);
    }
  }
  .img2
  {
    animation:move2 2s linear forwards;
  }
  @keyframes move2 {
    from{
      transform: translateX(0);
    }
    to {
      transform: translatex(100);
    }
  }